{% extends 'base.html' %}
{% block title %}Bem vindo ao Sistema de TankYou!{% endblock %}

{% block content %}
<h1 class="cover-heading">TankYou Project</h1>
<p class="lead">O TankYou é um projeto open source que ajuda proprietários de veículos a registrarem o consumo de
    combustível, bem como visualizar a média de gastos e controle mensal. Cadastra-se no botão abaixo. Sugestões e pull
    requests serão super bem vindos :)!</p>
<p class="lead">
    <a href="/cadastro" class="btn btn-lg btn-secondary">Cadastra-se</a>
</p>
{% endblock %}